.rules{
  z-index: 1;
  position: absolute;
  left: 5%;
  width: 60%;
  background-color: #231e1e;
  opacity: 0.9;
  color: white;
  padding: 50px;
}
canvas{
  width: 80%;
}

.rules img{
  width: 30px;
  
}

.app{
  margin: 8px;
  z-index: 0;
}


